@font-face {
    font-family: 'Gravity';
    src: url('assets/Gravity-FontZillion/Fonts/gravity-bold.ttf') format('truetype');
    /* Include additional font formats like .woff or .otf if available */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gravity', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gravity', Arial, sans-serif;
}

p, a, li {
    font-family: 'Gravity', Arial, sans-serif;
}

.btn, .nav-link {
    font-family: 'Gravity', Arial, sans-serif;
}

header {
    background-image: linear-gradient(135deg, #4A2841, #2A122A);
}

.hero {
    background-image: linear-gradient(135deg, #4A2841, #2A122A);
    padding: 100px 0;
    color: white;
    font-family: 'Gravity', Arial, sans-serif;
}

.about-us {
    background-color: #f4f4f4;
    font-family: 'Gravity', Arial, sans-serif;
}

.team {
    background-color: #fff;
    font-family: 'Gravity', Arial, sans-serif;
}

.partnerships {
    background-color: #f4f4f4;
    font-family: 'Gravity', Arial, sans-serif;
}

.contact {
    background-color: #4c2c4c;
    font-family: 'Gravity', Arial, sans-serif;
}

footer {
    background-color: linear-gradient(135deg, #6a1b9a, #8e24aa);;
    font-family: 'Gravity', Arial, sans-serif;
}
